logging:
  level:
    org.springframework.web: DEBUG

spring:
    datasource:
      url: jdbc:h2:./local-db/data;MODE=PostgreSQL
      username: app
      password: null
      driverClassName: org.h2.Driver
    h2:
      console:
        enabled: true
#        path: /h2-console
    jpa:
      generate-ddl: true
      show-sql: true
      hibernate:
        ddl-auto: create-drop
      properties:
        hibernate:
          dialect: org.hibernate.dialect.H2Dialect
